.todo {
  width: 30rem;
  height: 100%;
}
.todo-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.input-box {
  outline: none;
  width: 13rem;
  height: 1.1rem;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  /* margin-left: 2rem; */
}
.todo-btn {
  background-color: rgb(144, 64, 175);
  width: 7rem;
  height: 3rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  color: #ffff;
  font-weight: bold;
  margin-left: 1rem;
  cursor: pointer;
}

.logout-btn {
  background-color: rgb(144, 64, 175);
  width: 5.5rem;
  height: 3rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  color: #ffff;
  font-weight: bold;
  margin-left: 1rem;
  cursor: pointer;
}
.logout-btn:hover {
  background-color: rgb(255, 0, 0);
}
.todo-list {
  display: flex;
  justify-content: space-between;
  width: 28rem;
  height: 2rem;
  background-color: rgb(144, 64, 175);
  border-radius: 5px;
  padding: 7px 15px 7px 15px;
  margin-top: 1rem;
}
.todo-done{
  display: flex;
  justify-content: space-between;
  width: 28rem;
  height: 2rem;
  background-color: rgb(107, 207, 121);
  border-radius: 5px;
  padding: 7px 15px 7px 15px;
  margin-top: 1rem;
}

.todo-data{
  color: #ffff;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 
.dlt {
  background-color: #fff;
  cursor: pointer;
} */

.todo-data-btn {
  display: flex;
  justify-content: space-between;
  width: 33%;
}
.done-btn {
  background-color: rgb(35, 173, 0);
  color: #ffff;
  border: none;
  border-radius: 20%;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
}
.edit-btn {
  background-color: rgb(99, 99, 99);
  color: #ffff;
  border: none;
  border-radius: 20%;
  font-weight: 600;
  cursor: pointer;
}
.delete-btn {
  background-color: rgb(216, 0, 0);
  color: #ffff;
  border: none;
  border-radius: 20%;
  font-weight: 600;
  cursor: pointer;
}

.mark-text {
  text-decoration-line: overline;
  color: red;
}

@media only screen and (max-width: 768px) {
  .todo-form{
    width: 100%;
  }

  .input-box{
    width: 8rem;
    /* margin-left: 2rem; */
  }
  /* .todo-list{
    width: 26rem;
    padding-top: 0.5rem;
    margin: 0.5rem 2rem 1rem 2rem;
  } */
.todo{
  width: 100%;
}
.todo-list{
  width: 24rem;
}
.todo-data{
  width: 14rem;
}
.todo-data-btn{
  gap: 0.3rem;

}
}